body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}
 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 .add-food-btn {
  text-align: left;
  margin-left: 20px;
}
 .title {
  margin: 30px 0px;
}
 #panel-block {
  margin: 50px 0px 50px 10px;
  width: 50%;
  border: none;
}
 #columns {
  margin: 0px 0px 0px 10px;
}
 .add-form label {
  margin: 5px 0px;
}
 .add-form input {
  margin: 5px 0px;
  width: 20%;
}
 #add-submit {
  display: block;
  width: 5%;
}
 .trash-icon {
  width: 20%;
}
 .food-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
 .food-item li {
  width: 40%;
}
 .img-container {
  width: 10%;
} 